body {
  background-color: rgb(217, 234, 211);
}
.app {
  width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: #e3ffe3;
  margin: 0 calc(50% - 500px);
  @media (max-width: 1100px) {
    width: 700px;
    margin: 0 calc(50% - 350px);
  }
  @media (max-width: 375px) {
    width: 100%;
    margin: 0;
    padding: 0;
    // margin: 0 calc(50% - 350px);
  }

  h1 {
    color: rgb(15, 60, 31);
    text-align: center;
  }
  select {
    background-color: #869686;
    width: 400px;
    height: 40px;
    margin: 15px 25px;
    color: white;
    line-height: 10px;
    font-size: 20px;
    z-index: 3;
    @media (max-width: 1100px) {
      width: 300px;
    }
    @media (max-width: 375px) {
      width: 200px;
      line-height: 7px;
      font-size: 14px;
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    margin: 0 20px 20px 20px;
  }
  button {
    margin-right: 30px;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    background-color: #8fff8f;
    color: rgb(69, 116, 78);
    text-transform: uppercase;
    border: #ccffcc;
    @media (max-width: 1100px) {
      width: 80px;
    }
  }
  .pageNumber {
    display: flex;
    list-style: none;
    @media (max-width: 375px) {
      width: 375px;
      margin: 0;
      padding: 0;
    }
  }
  .pageNumber li {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(22, 97, 32);
    background-color: #8fff8f;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    border-radius: 25px;
    @media (max-width: 1100px) {
      width: 25px;
      height: 25px;
      border-radius: 25px;
    }
    @media (max-width: 375px) {
      width: 19px;
      height: 19px;
      border-radius: 19px;
    }
  }
  .pageNumber a {
    text-decoration: none;
    color: rgb(51, 72, 52);
    @media (max-width: 1100px) {
      font-size: 11px;
    }
    @media (max-width: 375px) {
      font-size: 12px;
    }
  }

  .country {
    padding: 10px;

    .one {
      background-color: #ccffcc;
      margin-left: 10px;
      padding-top: 2px;

      h3,
      p {
        margin-left: 20px;
        color: rgb(15, 60, 31);
        line-height: 10px;
      }
    }
  }
}
